<!doctype html>
<html>
  <head>
    <title>
    </title>
  <style>
    h1 {text-align: center;
      background-color: black;
      color:whitesmoke;
    }      

    h3 {text-align: center;
      background-color: black;
      color:rgb(194, 161, 11);
    } 
      
    body {text-align: center;
      background-color: black;
      color:rgb(194, 93, 11);
    }
  </style>
  <h1>Film Finder</h1>
  <h3><i>Your definitive source for a fun-filled movie night!</i></h2>
  </head>
  <body>
Find where your favorite movies live & discover new favorites all in one place!
    <br>
    <br>
    <div class="image-container"><img src="https://aatfweb.files.wordpress.com/2017/06/film-1155439_960_720.jpg"></div>
    <br>
    <div>To track the movies you've watched and get tailored recommendations, create your profile!</div>
    <br>
    <div><a href="/signup">Sign up here!</a></div>
    <br>
<!--    <div class="image-container">
      <img src="https://upload.wikimedia.org/wikipedia/en/3/36/Liberal_Arts_FilmPoster.jpeg">
      <img src="https://m.media-amazon.com/images/M/MV5BMjI3MTQ3NzE5NV5BMl5BanBnXkFtZTgwMjgzOTMxOTE@._V1_.jpg">
      <img src="https://images-na.ssl-images-amazon.com/images/I/8104vWOHCAL._RI_.jpg"></div>
-->
    <br>
  </body>
</html>
